body {
  background-color: #e4d6f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-color: white;
  border-radius: 16px;
}

.offset {
  position: relative;
  width: 100%;
}

.offset img {
  width: 100%;
  display: block;
  border-radius: 16px 16px 0px 0px;
}

.product-tag {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #f7f2c4;
  padding: 5px 10px;
  border-radius: 8px 24px 24px 8px;
  max-width: fit-content;
  font-size: 24px;
  font-weight: bold;
}

.text {
  padding: 10px 20px;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
}

small {
  font-size: 14px;
  font-weight: normal;
  line-height: 12px;
}

.text p {
  font-size: 26px;
}
