
body {
  background-color: #e4d6f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 15px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 16px;
}

.offset {
  position: relative;
  width: 100%;
}

.offset img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.product-tag {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #f7f2c4;
  padding: 5px 10px;
  border-radius: 8px 24px 24px 8px;
  max-width: fit-content;
  font-size: 16px;
  font-weight: 700;
}

.text {
  padding: 10px 20px;
}

h2 {
  font-size: 24px;
  font-weight: bolder;
}

small {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.text p {
  font-size: 16px;
  line-height: 24px;
}

