body {
  background-color: #202020; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 80%; 
  max-width: 600px; 
  position: relative;
}

h1 {
  background-color: #ff0095; 
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 70%;
  font-size: 2em;
}

p {
  background-color: white; 
  padding: 75px 5% 0;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  margin-top: -60px; 
  font-size: 1.2em;
  min-height: 150px;
  margin-bottom: 16px;
}

@media (max-width: 480px) {
h1 {
  font-size: 1.6em;
  width: 75%; 
  margin-bottom: 15px; 
}

p {
  font-size: 1em;
  padding: 70px 15px 15px;
}

.container {
  width: 90%;
}
}